<span style='color: #000' title='Frames'>   191</span><span style='color: #009' title='Memory'>  28160.00 KB</span><span style='color: #900' title='Time'>   1428.93 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />