/*
 *-----------------------------------------------------------------------------------
 * === CSS DESIGN ===
 *-----------------------------------------------------------------------------------
 * author SOLUTII SOFT
 */
 
/* === HTML ELEMENTS === */
	*, select { 
		outline: none !important; 
		border-radius: 0 !important;
	}
	
	body {
		background: #F0F5FF;
		background-image: url('../img/bg.png');
		color: #222;
		font-family: 'Dosis', arial;
		font-size: 14px;
		line-height: 1;
		padding-bottom: 20px;
		padding-top: 20px;
		text-rendering: optimizelegibility;
	}

	a:link,	
    a:focus, 
    a:visited , 
    a:active,
    a:hover { 
		text-decoration: none; 
	}
	a img {
		border: medium none;
	}
	
	h1, 
    h2, 
    h3, 
    h4 {
		font-family: 'Dosis', arial;
		font-weight: 300;		
		margin-top: 0px;
	}
	h1 {
		text-shadow: 1px 1px 0 #FFFFFF;
	}

/* === END HTML ELEMENTS === */


/* === INSTALATION FORM === */
	#database {
		padding: 20px;
	}
	#database form {
		max-width: 320px;
		padding: 15px;
		margin: 0 auto;
	}
	#database .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			  box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
		border-right: 1px solid #ebebeb;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		box-shadow: none;
	}

/* === END INSTALATION FORM === */


/* === TABLE === */
    .table {
		border-collapse: collapse;
		border-spacing: 0;		
        background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
        font-size: 14px;
    }
    .table caption {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
        text-align: left;
		color: #000;
    }    
	.table th, .table-th {
		background: #343D46;
		border-bottom: 1px solid #DDDDDD;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 12px;
		padding-top: 12px;
	}
	.table th:first-child {
		width: 20px;
	}
    .table td {
        vertical-align: middle !important;
    }	
}
/* === END TABLE === */


/* === LABELS === */
	.label {
		display: block;
	}
	
	.label-green 			{background-color: #27ae60; color: #FFFFFF; padding: 4px 10px; font-size: 14px; font-weight: 400;}
	.label-red		  		{background-color: #c0392b; color: #FFFFFF; padding: 4px 10px; font-size: 14px; font-weight: 400;}
/* === END LABELS === */


/* === BUTTONS === */
	.solso-submit {
		background: #2c3e50;
		border-color: #2c3e50;
		color: #ffffff;		
	}
	.solso-submit:hover, 
	.solso-submit:focus, 
	.solso-submit.active {
		background: #34495e;
		border-color: #34495e;
		color: #ffffff;		
	}
/* === END BUTTONS === */


/* === VALIDATION === */
    input.parsley-success,
    select.parsley-success,
    textarea.parsley-success {
        color: #468847;
        background-color: #DFF0D8;
        border: 1px solid #D6E9C6;
    }
    input.parsley-error,
    select.parsley-error,
    textarea.parsley-error {
        color: #B94A48;
        background-color: #F2DEDE;
        border: 1px solid #EED3D7;
    }
    .parsley-errors-list {
        padding: 0;
		opacity: 0;
		-moz-opacity: 0;
		-webkit-opacity: 0;
		transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in-;
		-moz-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;		
    }
    .parsley-errors-list li,    
    .parsley-required ,
    .parsley-type,
    .error {
        background: #DC002E;						/* aici se schimba ptr culoare*/
        border: 1px solid #DC002E;					/* aici se schimba ptr culoare*/
        box-shadow: 0 0 0 1px #FFFFFF inset;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.42857;
        margin-top: 10px;	
        padding: 5px 10px;
    }
    .parsley-errors-list.filled {
        opacity: 1;
    }  
    .success {
        background: green;
        border: 1px solid #green;
        box-shadow: 0 0 0 1px #FFFFFF inset;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.42857;
        margin-top: 10px;	
        padding: 15px 10px;
    }
    .required {
        border-left: 2px solid #DC002E;
    }	
/* === END VALIDATION === */


/* === POPOVER === */
	.popover-title {
		background-color: #20b2aa;
		color: #FFF;
	}
	.popover.bottom .arrow:after {
		border-bottom-color: #20b2aa;
	}
/* === POPOVER === */
