@page {
	margin: 10px;
	page-break-after: always;
}

body { 
	background: #FFFFFF;
}	

h1, h2, h3, h4 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'DejaVu Sans', sans-serif;
	font-weight: 300;
}
h1 	{font-size: 33px; text-transform: uppercase;}
h2 	{font-size: 26px}
h3 	{font-size: 20px}
h4 	{font-size: 16px}

p  {
	margin: 0 0 10px;
	font-family: 'DejaVu Sans', sans-serif;
	font-size: 12px;
    margin-bottom: 4px;	
}

table {
	border: 0px;
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
}
table th {
	background: none repeat scroll 0 0 #dbdbdb;
	font-family: 'DejaVu Sans', sans-serif;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 4px;	
	line-height: 1.42857;
	vertical-align: top;    
}
table tr > th {
    background-color: #EFEFEF;
    text-align: center !important;
    text-transform: uppercase;
	font-size: 12px;
	vertical-align: center !important;
}
table td {
	font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
	line-height: 1;
}
table.border th,
table.border td {
	border: 1px solid #999999;
	padding: 8px;	
}


#invoice {
	margin: auto;
	width: 100%;	
	width: 780px;	
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
}
.footer p {
	margin-bottom: 0;
	font-size: 12px;
	font-family: 'DejaVu Sans', sans-serif;
}

.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.td-crt {
	width: 20px;
}
.td-product {
	width: 300px;
}
.td-qty {
	text-align: center;
	width: 60px;
}
.td-small { 
	width: 80px;
}


.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.6667%;
}
.col-md-10 {
    width: 83.3333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-7 {
    width: 58.3333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-1 {
    width: 8.33333%;
}

.bg-white		{background: white !important;}
.top10 			{margin-top: 10px;}
.top20 			{margin-top: 20px;}
.text-left 		{text-align: left;}
.text-center 	{text-align: center;}
.text-right	 	{text-align: right;}

